@model LoginDTO
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #0d786b;
            color: white;
            text-align: center;
        }

        .form-control {
            border-radius: 20px;
        }

        .btn-primary {
            border-radius: 20px;
        }

        .btn-danger {
            border-radius: 20px;
        }

        .container {
            max-width: 600px;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">Login</h5>
                    <div class="card-body">
                        <form asp-action="Login" method="post">
                            <input type="hidden" name="returnURL" value="@ViewBag.ReturnUrl" />
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label">Username</label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label">Password</label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <input class="form-check-input" asp-for="RememberMe" />
                                <label class="form-check-label">Remember me</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" style="background-color:#0d786b">Login</button>
                            </div>
                            <div class="form-group">
                                <a asp-action="Index" asp-controller="Movies" class="btn btn-danger btn-block">Back to List</a>
                                <div asp-validation-summary="All" class="text-danger"></div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
